$icons-spacing: 10px;
@import "icons/*.png";

@mixin sprite_css($name) {
  @include icons-sprite($name);
  height: icons-sprite-height($name);
  width: icons-sprite-width($name);
}

// Use element-invisible for elements that should be usable by screen readers
// Using display: none; is bad for accessibility.
@mixin element-invisible {
  position: absolute;
  left: -9999px;
}
