@font-face {
  font-family: 'RO-Sans-Heading';
  src: url('fonts/rijksoverheidsansheading-regular_2_0.eot');
  src: url('fonts/rijksoverheidsansheading-regular_2_0.eot?#iefix') format('embedded-opentype'),
       url('fonts/rijksoverheidsansheading-regular_2_0.woff') format('woff'),
       url('fonts/rijksoverheidsansheading-regular_2_0.ttf') format('truetype'),
       url('fonts/rijksoverheidsansheading-regular_2_0.svg#RO-Sans-Heading') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RO-Sans-Heading';
  src: url('fonts/rijksoverheidsansheading-italic_2_0.eot');
  src: url('fonts/rijksoverheidsansheading-italic_2_0.eot?#iefix') format('embedded-opentype'),
       url('fonts/rijksoverheidsansheading-italic_2_0.woff') format('woff'),
       url('fonts/rijksoverheidsansheading-italic_2_0.ttf') format('truetype'),
       url('fonts/rijksoverheidsansheading-italic_2_0.svg#RO-Sans-Heading-I') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'RO-Sans-Heading';
  src: url('fonts/rijksoverheidsansheading-bold_2_0.eot');
  src: url('fonts/rijksoverheidsansheading-bold_2_0.eot?#iefix') format('embedded-opentype'),
       url('fonts/rijksoverheidsansheading-bold_2_0.woff') format('woff'),
       url('fonts/rijksoverheidsansheading-bold_2_0.ttf') format('truetype'),
       url('fonts/rijksoverheidsansheading-bold_2_0.svg#RO-Sans-Heading-B') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'RO-Sans-Heading';
  src: url('fonts/rijksoverheidsansheading-bolditalic_2_0.eot');
  src: url('fonts/rijksoverheidsansheading-bolditalic_2_0.eot?#iefix') format('embedded-opentype'),
       url('fonts/rijksoverheidsansheading-bolditalic_2_0.woff') format('woff'),
       url('fonts/rijksoverheidsansheading-bolditalic_2_0.ttf') format('truetype'),
       url('fonts/rijksoverheidsansheading-bolditalic_2_0.svg#RO-Sans-Heading-BI') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'RO-Serif';
  src: url('fonts/rijksoverheidserif-bolditalic_2_0.eot');
  src: url('fonts/rijksoverheidserif-bolditalic_2_0.eot?#iefix') format('embedded-opentype'),
       url('fonts/rijksoverheidserif-bolditalic_2_0.woff') format('woff'),
       url('fonts/rijksoverheidserif-bolditalic_2_0.ttf') format('truetype'),
       url('fonts/rijksoverheidserif-bolditalic_2_0.svg#RO-Serif-BI') format('svg');
  font-weight: bold;
  font-style: italic;
}
