// Fonts
$fontDefault:           Arial, Verdana, sans-serif;
$fontHeading:           "RO-Sans-Heading", Arial, Sans-Serif;
$fontSerif:             "RO-Serif", Serif;

// Colors
$colorFull:         #275937; // dark green (tong)
$colorLighter:      #becdc3; // green
$colorLightest:     #dfe6e1; // light green
$colorHighlight:    #e17000; // orange
$contrastLighter:   #fef1bc; // yellow. Should be #e5b2cf (pink)
$contrastLightest:  #fff4f4; // light pink. Should be #f2d9e7 (pink light)
$darkGrey:          #535353;
$defaultGrey:       #767676;
$black:             #000000;

// Spacing
$defaultSpacing:    20px;

// Frontpage
$blockTop:  0px;
$blockRight: $defaultSpacing;
$blockBottom: 2em;
$blockLeft: 0px;

$defaultPadding: 5px;
