/**
 * Styling of states (hovers, is-active, is-error, etc)
 */

:focus {
  outline: 1px dotted;
}
body:focus {
  outline: none;
}
a.is-external {
  .imgreplacement {
    @include sprite_css(external);
    margin-right: 5px;
  }
}
li.external.first {
  padding-left: 11px;
}
li.external .imgreplacement {
  display: none;
}
