.node a { text-decoration: underline; }

// Override the default Rijkshuisstijl themes
.mod.box.closed.contrast {
  background-color: $contrastLightest;
  border-color: $contrastLighter;
  h2 {
    background-color: $contrastLighter;
  }
}
.container .box.closed.subdued {
  border-color: $colorLighter;
  background-color: $colorLightest;
  h3 {
    background-color: $colorLightest;
  }
}
.mod.box {
  .image {
    img {
      margin-bottom: 0;
    }
  }
}

// Messages
.message {
  margin-bottom: $blockBottom;
  .mod {
    overflow: auto;
  }
  h2 {
    margin-bottom: 0.2em;
  }
}

p > img {
  margin-bottom: 0;
}

// Override rijkshuisstijl bug with visited links on hover.
ul a:visited:hover {
  color: $black;
}
