// Service links
.extralinks {
  border: 1px solid $colorLightest;
  padding: $defaultPadding;
  margin-right: $defaultSpacing;
  .label-inline {
    color: $defaultGrey;
    margin-top: 1px;
    margin-right: 5px;
  }
  > div {
    float: left;
  }
  .sl-wrapper {
    float: right;
     > div {
      float: left;
      margin-right: 5px;
    }
  }
  a {
    margin-right: 5px;
  }
  .imgreplacement {
    vertical-align: bottom;
    margin-right: 5px;
  }
  .print-link {
    a {
      margin-left: 5px;
      .imgreplacement {
        @include sprite_css(print);
      }
    }
  }

  @each $service in twitter hyves facebook linkedin {
    $class: $service;
    @if $service == hyves {
      $class: "-nl-hyves";
    }
    .service-links-#{$class} .imgreplacement {
      @include sprite_css($service);
    }
  }
}

a.elf-icon {
  &.elf-external {
    padding-left: 11px;
    @include icons-sprite(external);
    @include sprite-background-position($icons-sprites, external, 0, +5px);
  }
  &.elf-mailto {
    padding-left: 13px;
    @include icons-sprite(mail);
    @include sprite-background-position($icons-sprites, mail, 0, +3px);
  }
}

div.workbench-info-block {
  margin-right: $defaultSpacing;
  margin-bottom: $defaultSpacing;
}
