/**
 * Styling for the homepage
 */

/* Front page tongue */
.tong {
  margin-bottom: $blockBottom;
  margin-left: 0;
  .region-front-supp-tong {
    height: 151px;
    font-family: $fontHeading;
    p {
      font-size: 1.6em;
      line-height: 1.25em;
      margin: 0;
      font-weight: bold;
    }
  }
}

.front .box {
  .head {
    margin-bottom: 0;
    padding-left: 6px;
    padding-right: 6px;
  }
  .image {
    line-height: 0;
    img {
      margin-bottom: 0;
    }
  }
}

/* Front page buttons */
.front-page-buttons .box {
  position: relative;
  a {
    color: #000;
  }
  .body {
    background-color: $colorLightest;
    position: absolute;
    top: 25px;
    height: 160px - 25px;
    width: 100%;
    color: #154273;
    font-family: $fontHeading;
    font-weight: bold;
    p {
      font-size: 1.6em;
      line-height: 1.5em;
    }
    @media print {
      position: relative;
      display: block;
    }
  }
  .is-external span {
    // Fix to hide external link icon for front page buttons (RM: #419).
    display: none;
  }
}
#home .box h2.head {
  margin: 0;
  background-color: $colorLightest;
}
#home h3.head {
  margin-bottom: 0;
  a {
    color: #000;
    font-size: 1em;
    font-family: $fontDefault;
    text-decoration: none;
  }
}

.front-page-videos {
  h2 {
    @include element-invisible;
  }
}

/* Front page 'current' block */
.block-current {
  border: 1px solid $colorLighter;
  margin-bottom: $blockBottom;
  &.mod {
    padding: 5px;
  }
  ul {
    margin-bottom: 0;
  }
  .view-content {
    overflow: auto;
    height: 128.5px;
  }
}

/* Front page 'direct to' block */
.block-directly-to {
  &.mod {
    padding: 5px 0px;
  }
  #home &.box{
    h2, ul {
      padding: 0;
      margin-bottom: 5px;
    }
  }
}
/* Front page 'spotlight' block */
.mod.block-spotlight {
  @extend .block-directly-to;
  p {
    padding: 0;
  }
  .image {
    margin-bottom: 5px;
  }
  &.box h2 {
    padding: 0 0 5px;
  }
}
