.list-faq {
  margin-bottom: 20px;
  margin-right: $defaultSpacing;
  border: 1px solid #BECDC3;
  background-color: #DFE6E1;
  ul {
    margin: 0;
    padding: .6em;
    a {
      color: #000;
    }
  }
  h2 {
    margin: 0;
    padding: .3em 9px;
    background-color: #BECDC3;
    font-weight: bold;
    font-family: $fontDefault;
  }
}
