div.tabs {
  width: auto;
  margin-right: 20px;
  margin-bottom: 1em;
  ul.tabs {
    display: block;
    float: none;
  }
}

.skiplink {
  left: 20px;
  top: 35px;
  z-index: 10;
  line-height: inherit;
  font-size: 1.2em;
  font-weight: bold;
  height: 1em;
  a {
    position: absolute;
    left: -10000px;
    display: block;
    &:focus, &:active {
      top: 0;
      left: 0;
      padding: 10px;
      text-decoration: underline;
      background: #154273;
      color: #fff;
    }
  }
}

.region-content {
  ul, ol {
    ul, ol {
      font-size: 1em;
      margin-bottom: 0;
    }
  }
}
