/* Small screens up to 768px width */
@media only screen and (max-width:768px) {
  .container {
    min-width: 320px;
  }
  .content {
    padding-bottom: 0;
  }
  .content_main, .content_add, .content_supp {
    float: none;
    clear: left;
  }
  #content {
    .content_main,
    .content_sub,
    .content_add,
    .nav_sub {
      position: relative;
      width: 100%;
      left: 0;
    }
    .content_main {
      margin-bottom: $defaultSpacing;
      p > img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
  .nav_sub {
    padding-top: 0;
    .block {
      margin-right: $defaultSpacing;
    }
    li a {
      width: auto;
    }
  }
  .extralinks {
    display: block;
    margin-right: 20px;
  }
  .header .branding,
  .footer .ref {
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      left: -10px;
    }
  }
  .footer .ref {
    height: 25px;
    margin-left: 10px;
    img {
      left: 10%;
    }
  }
  .breadcrumb {
    width: 100%;
    margin: 10px 0 -50px;
  }
  .tong {
    margin-top: 0;
    padding: 10px;
    .region-front-supp-tong {
      height: auto;
    }
  }
  .content_add, .content_supp {
    padding-top: 0;
  }
  .content_main, .content_supp {
    width: 100%;
  }
  .front-page-buttons {
    .box {
      clear: left;
      float: none;
      .body {
        position: relative;
        top: 0;
        height: 125px;
      }
    }
    .views-row-odd {
      clear: left;
    }
  }
  .block-directly-to.mod {
    padding: 0;
  }
  .front .block-spotlight {
    clear: both;
    .image {
      width: 30%;
      height: 60px;
      float: left;
      overflow: hidden;
      margin-right: 10px;
      img {
        height: 100%;
        width: auto;
        margin-left: -85px;
      }
    }
  }
  .block-current .view-content {
    height: auto;
  }
  .rijksvideo {
    margin-right: 20px;
    > div,
    .extras {
      max-width: 100% !important;
    }
  }
}

/* Small screens only */
@media only screen and (max-width:480px) {
  .unit {
    float: none;
    clear: left;
  }
  .size12 {
    width: 100%;
  }
  .header .branding img {
    left: -204px;
  }
  .footer .ref {
    img {
      left: -10%;
    }
  }
  .search {
    position: relative;
    padding: 0 24px 10px;
    right: 0;
    width: auto;
    top: 0;
    form {
      input.text {
       width: 79.5%;
       padding-left: 0;
       padding-right: 0;
      }
      input.submit {
        width: 20%;
        padding: 0;
      }
    }
    .links .first,
    .links .last {
      float: none !important;
      display: inline;
    }
    .links .last {
      padding-left: 0.5em;
    }
  }
  .content_add {
    .block-ds-extras {
      > img,
      .video,
      .block-spotlight {
        display: none;
      }
    }
  }
  .func_links a {
    padding-left: .5em;
    padding-right: .5em;
  }
  .nav_main {
    li {
      margin-bottom: 10px;
    }
    a {
      padding: 3px 6px;
    }
  }
  .front-page-buttons {
    .box {
      .image {
        float: left;
        width: 75px;
        height: 75px;
        overflow: hidden;
        margin: 15px 10px;
        img {
          height: 75px;
          width: auto;
        }
        &:after {
          clear: left;
        }
      }
      .body {
        height: auto;
        min-height: 100px;
        background: transparent;
        p {
          font-size: 1.43em;
        }
      }
    }
  }
  .front-page-videos {
    .rijksvideo-preview {
      > span {
        background-position: 50% 50%;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

/* iPad portrait */
@media only screen and (min-width:481px) and (max-width:768px) {
  .search {
    top: 16px;
    right: 24px;
    width: auto;
  }
  .header .branding,
  .footer .ref {
    img {
      left: 0;
      position: relative;
    }
  }
  .nav_bar {
    padding: 1.5em 0 1.5em;
    .nav_main {
      max-width: 50%;
      li {
        margin-bottom: 10px;
      }
    }
  }
  .tong {
    padding: 20px;
  }
  .front-page-buttons {
    .box {
      .image img {
        width: 100%;
        height: auto;
      }
    }
  }
  .front-page-videos {
    margin-right: $defaultSpacing;
    .mod {
      float: left;
      width: 48%;
      overflow: hidden;
      margin: 0;
      &.views-row-first {
        margin-right: 3%;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .content_supp .region-front-supp {
    .block {
      float: left;
      margin-right: 3%;
      width: 47%;
    }
    .block-current {
      width: 44.5%;
      padding: 1%;
    }
  }
  .block-spotlight.mod {
    padding-top: 20px;
  }
  .content_add {
    .block-ds-extras {
      > img {
        display: none;
      }
      .video {
        float: left;
        width: 47%;
        margin-right: 3%;
        img {
          width: 100%;
          height: auto;
        }
      }
      .block-spotlight {
        float: left;
        width: 50%;
        padding-top: 12px;
        margin-right: 0;
      }
      h2 {
        clear: left;
      }
    }
  }
}

@media only screen and (min-width:600px) and (max-width:768px) {
  .nav_bar {
    .nav_main {
      max-width: 60%;
    }
  }
  .front-page-buttons .box {
    .image {
      height: 125px;
      overflow: hidden;
      img {
        margin-top: -15px;
      }
    }
    .body {
      height: 100px;
    }
  }
}

@media only screen and (min-width:768px) and (max-width:956px) {
  .container {
    min-width: 768px;
  }
  .front .content_main {
    width: 66%;
  }
  .front .content_supp {
    width: 33%;
  }
  .front .content_add {
    width: 100%;
    padding-top: 0;
    .region > .block {
      float: left;
    }
    .front-page-videos {
      width: 66%;
      .box {
        width: 46%;
        float: left;
        .image {
          overflow: hidden;
          height: 134px;
        }
        img {
          width: 100% !important;
          height: auto !important;
        }
      }
      .views-row-first {
        margin-right: 4%;
      }
    }
    .block-spotlight {
      width: 33%;
      margin-right: 0;
    }
  }
  .front-page-buttons .box {
    .image {
      overflow: hidden;
      height: 134px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .content_main p > img,
  .content_add img {
    width: 100% !important;
    height: auto !important;
  }
  .content_add .mod {
    margin-right: 0;
  }
}
