/* Forms */
form.form_ll {
  .form-text,
  .form-textarea,
  .webform-component {
    font-size: 1.1em;
    line-height: 1.5em;
  }
  .fieldset-wrapper {
    clear: both;
  }
  .form-text,
  .form-radios,
  .form-checkboxes,
  .form-managed-file,
  .form-textarea-wrapper,
  .webform-component > .webform-container-inline,
  textarea {
    width: 22.2em;
    display: inline-block;

    // IE7 hacks.
    zoom: 1;
    *display: inline;
  }
  .webform-container-inline > .form-item {
    display: inline-block;
  }
  .description {
    padding-left: 12.5em;
  }
  .form-item {
    padding: 8px;
    background-color: #F2F2F2;
    margin: 2px 0 0;
    input,
    textarea {
      border: solid 1px #000;
      &.error {
        border-color: #D52B1E;
        outline: 1px solid #D52B1E;
      }
    }
    .form-item {
      padding: 3px 0;
      margin: 0;
      background-color: inherit;
      margin: 0;
      input {
        margin: 0;
      }
    }
  }
  input.submit {
    left: 12.5em;
  }
}

