.toggle-wrapper{
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: $defaultSpacing;
  }
 .toggle-main {
    margin: 0;
  }
  .extras {
    border-bottom: 1px solid #d9d9d9;
    font-size: 100%;
    display: block;
    ul {
      border-bottom: 0;
    }
    li {
      background-image: none;
      padding: 0;
      margin: 0;
      border: 1px solid #d9d9d9;
      border-bottom: 0;
      .toggle-content {
        border: 0;
        margin-bottom: 0;
        a, a:hover {
          font-weight: normal;
          padding: 2px 9px 3px 9px;
          color: #000;
        }
        a {
          background-color: #fff;
        }
        a:hover {
          background-color: #DFE6E1;
        }
        a.elf-icon {
          &.elf-external {
            padding-left: 20px;
            @include sprite-background-position($icons-sprites, external, 10, +5px);
          }
          &.elf-mailto {
            padding-left: 22px;
            @include sprite-background-position($icons-sprites, mail, 10, +3px);
          }
        }
      }
      h2, h3 {
        margin: 0;
        padding: 5px 10px;
      }
      a {
        display: block;
        position: relative;
        padding: .2em 20px .3em 10px;
        font-weight: normal;
        text-decoration: none;
        background-color: whiteSmoke;
      }
      img {
        margin-bottom: -4px;
      }
      li {
        border: 0;
      }
    }
    .meta {
      display: block;
      color: #535353;
    }
    .toggle-content {
      p {
        padding: 5px 10px;
        margin: 0;
      }
    }
  }
  .js & {
    .facet-button {
      display: block;
      width: 11px;
      height: 11px;
      position: absolute;
      right: 6px;
      top: 6px;
      z-index: 20;
      @include icons-sprite(icon-expand);
    }
    .open {
      .facet-button {
        @include icons-sprite(icon-collapse);
      }
    }
    .toggle {
      .toggle-content {
        display: none;
      }
    }
    .toggle {
      &.open {
        .toggle-content {
          display: block;
        }
      }
    }
    .extras {
      li {
        h2, h3 {
          margin: 0;
          padding: 0;
          color: #000;
          font: normal 100%/1.64 verdana,helvetica,arial,sans-serif;
          a, a:hover {
            color: #000;
          }
        }
      }
    }
  }
}
