/**
 * Base stylesheet. This file is generated with SASS.
 * Please don't try to change this file (changes will be overridden).
 */

@import "base-variables";
@import "base";
@import "base-fonts";
@import "base-mixins";
@import "base-states";
@import "shared-rijkshuisstijl-suggestions";
@import "shared-forms";
@import "home";
@import "list";
@import "contentpage";
@import "list-faq";
@import "toggle";
@import "shared-responsiveness";

/* Title bar */
.title_bar {
  font-family: $fontHeading;
  font-weight: normal;
  font-size: 2.2em;
}

/* Search block */
.search {
  .submit {
    text-transform: lowercase;
  }
  .links {
    .first {
      float: left;
    }
    .last {
      float: right;
    }
  }
}
.search-summary {
  background-color: $colorLightest;
  padding: 2px 5px;
  margin-right: $defaultSpacing;
}

/* Menu block */
.nav_sub {
  h2 {
    display: block;
    background-color: $colorLightest;
    padding: 0.4em 1em 0.3em 2.5em;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
  }
  li a {
    width: auto;
  }
}

/* Node metadata */
.content_main .type {
  border-right: 1px solid $darkGrey;
  color: $darkGrey;
  padding-right: $defaultPadding;
  margin-right: 5px;
}
.content_main .date-display-single,
.content_main .date {
  color: $darkGrey;
}

/* Rijksvideo */
.rijksvideo-preview {
  display: block;
  position: relative;
  > span {
    background: url('../images/play.png') 50% 40% no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  img {
    margin-bottom: 0;
  }
  + h3 {
    margin-top: 0;
  }
}

/* Table in content */
.content_main table {
  width: 436px;
}

/* Cookie compliance notice bar */
#sliding-popup {
  background: none repeat scroll 0 0 #666;
  .popup-content {
    width: 960px;
    #popup-text {
      width: 560px;
      margin-left: 40px;
    }
  }
}
