.region-page-top, .extralinks { display: none; }

.front-page-buttons .body { position: relative !important; display: block !important; height: auto; top: 0; }

.content_main .type { border-right: 1px solid #535353; color: #535353; padding-right: 5px; margin-right: 5px; }

.content_main, .content_add { clear: left !important; width: 100%; float: none; }
.content_main img, .content_add img { float: none; display: block; }

.rijksvideo-preview > span { display: none; }
