/** Base stylesheet. This file is generated with SASS. Please don't try to change this file (changes will be overridden). */
.node a { text-decoration: underline; }

.mod.box.closed.contrast { background-color: #fff4f4; border-color: #fef1bc; }
.mod.box.closed.contrast h2 { background-color: #fef1bc; }

.container .box.closed.subdued { border-color: #becdc3; background-color: #dfe6e1; }
.container .box.closed.subdued h3 { background-color: #dfe6e1; }

.mod.box .image img { margin-bottom: 0; }

.message { margin-bottom: 2em; }
.message .mod { overflow: auto; }
.message h2 { margin-bottom: 0.2em; }

p > img { margin-bottom: 0; }

ul a:visited:hover { color: black; }

@font-face { font-family: 'RO-Sans-Heading'; src: url("fonts/rijksoverheidsansheading-regular_2_0.eot"); src: url("fonts/rijksoverheidsansheading-regular_2_0.eot?#iefix") format("embedded-opentype"), url("fonts/rijksoverheidsansheading-regular_2_0.woff") format("woff"), url("fonts/rijksoverheidsansheading-regular_2_0.ttf") format("truetype"), url("fonts/rijksoverheidsansheading-regular_2_0.svg#RO-Sans-Heading") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'RO-Sans-Heading'; src: url("fonts/rijksoverheidsansheading-italic_2_0.eot"); src: url("fonts/rijksoverheidsansheading-italic_2_0.eot?#iefix") format("embedded-opentype"), url("fonts/rijksoverheidsansheading-italic_2_0.woff") format("woff"), url("fonts/rijksoverheidsansheading-italic_2_0.ttf") format("truetype"), url("fonts/rijksoverheidsansheading-italic_2_0.svg#RO-Sans-Heading-I") format("svg"); font-weight: normal; font-style: italic; }

@font-face { font-family: 'RO-Sans-Heading'; src: url("fonts/rijksoverheidsansheading-bold_2_0.eot"); src: url("fonts/rijksoverheidsansheading-bold_2_0.eot?#iefix") format("embedded-opentype"), url("fonts/rijksoverheidsansheading-bold_2_0.woff") format("woff"), url("fonts/rijksoverheidsansheading-bold_2_0.ttf") format("truetype"), url("fonts/rijksoverheidsansheading-bold_2_0.svg#RO-Sans-Heading-B") format("svg"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'RO-Sans-Heading'; src: url("fonts/rijksoverheidsansheading-bolditalic_2_0.eot"); src: url("fonts/rijksoverheidsansheading-bolditalic_2_0.eot?#iefix") format("embedded-opentype"), url("fonts/rijksoverheidsansheading-bolditalic_2_0.woff") format("woff"), url("fonts/rijksoverheidsansheading-bolditalic_2_0.ttf") format("truetype"), url("fonts/rijksoverheidsansheading-bolditalic_2_0.svg#RO-Sans-Heading-BI") format("svg"); font-weight: bold; font-style: italic; }

@font-face { font-family: 'RO-Serif'; src: url("fonts/rijksoverheidserif-bolditalic_2_0.eot"); src: url("fonts/rijksoverheidserif-bolditalic_2_0.eot?#iefix") format("embedded-opentype"), url("fonts/rijksoverheidserif-bolditalic_2_0.woff") format("woff"), url("fonts/rijksoverheidserif-bolditalic_2_0.ttf") format("truetype"), url("fonts/rijksoverheidserif-bolditalic_2_0.svg#RO-Serif-BI") format("svg"); font-weight: bold; font-style: italic; }

.icons-sprite, a.is-external .imgreplacement, .extralinks .print-link a .imgreplacement, .extralinks .service-links-twitter .imgreplacement, .extralinks .service-links--nl-hyves .imgreplacement, .extralinks .service-links-facebook .imgreplacement, .extralinks .service-links-linkedin .imgreplacement, a.elf-icon.elf-external, a.elf-icon.elf-mailto, .js .toggle-wrapper .facet-button, .js .toggle-wrapper .open .facet-button { background: url('../images/icons-s94d158997b.png') no-repeat; }

/** Styling of states (hovers, is-active, is-error, etc) */
:focus { outline: 1px dotted; }

body:focus { outline: none; }

a.is-external .imgreplacement { background-position: 0 -192px; height: 7px; width: 7px; margin-right: 5px; }

li.external.first { padding-left: 11px; }

li.external .imgreplacement { display: none; }

div.tabs { width: auto; margin-right: 20px; margin-bottom: 1em; }
div.tabs ul.tabs { display: block; float: none; }

.skiplink { left: 20px; top: 35px; z-index: 10; line-height: inherit; font-size: 1.2em; font-weight: bold; height: 1em; }
.skiplink a { position: absolute; left: -10000px; display: block; }
.skiplink a:focus, .skiplink a:active { top: 0; left: 0; padding: 10px; text-decoration: underline; background: #154273; color: #fff; }

.region-content ul ul, .region-content ul ol, .region-content ol ul, .region-content ol ol { font-size: 1em; margin-bottom: 0; }

/* Forms */
form.form_ll .form-text, form.form_ll .form-textarea, form.form_ll .webform-component { font-size: 1.1em; line-height: 1.5em; }
form.form_ll .fieldset-wrapper { clear: both; }
form.form_ll .form-text, form.form_ll .form-radios, form.form_ll .form-checkboxes, form.form_ll .form-managed-file, form.form_ll .form-textarea-wrapper, form.form_ll .webform-component > .webform-container-inline, form.form_ll textarea { width: 22.2em; display: inline-block; zoom: 1; *display: inline; }
form.form_ll .webform-container-inline > .form-item { display: inline-block; }
form.form_ll .description { padding-left: 12.5em; }
form.form_ll .form-item { padding: 8px; background-color: #F2F2F2; margin: 2px 0 0; }
form.form_ll .form-item input, form.form_ll .form-item textarea { border: solid 1px #000; }
form.form_ll .form-item input.error, form.form_ll .form-item textarea.error { border-color: #D52B1E; outline: 1px solid #D52B1E; }
form.form_ll .form-item .form-item { padding: 3px 0; margin: 0; background-color: inherit; margin: 0; }
form.form_ll .form-item .form-item input { margin: 0; }
form.form_ll input.submit { left: 12.5em; }

/** Styling for the homepage */
/* Front page tongue */
.tong { margin-bottom: 2em; margin-left: 0; }
.tong .region-front-supp-tong { height: 151px; font-family: "RO-Sans-Heading", Arial, Sans-Serif; }
.tong .region-front-supp-tong p { font-size: 1.6em; line-height: 1.25em; margin: 0; font-weight: bold; }

.front .box .head { margin-bottom: 0; padding-left: 6px; padding-right: 6px; }
.front .box .image { line-height: 0; }
.front .box .image img { margin-bottom: 0; }

/* Front page buttons */
.front-page-buttons .box { position: relative; }
.front-page-buttons .box a { color: #000; }
.front-page-buttons .box .body { background-color: #dfe6e1; position: absolute; top: 25px; height: 135px; width: 100%; color: #154273; font-family: "RO-Sans-Heading", Arial, Sans-Serif; font-weight: bold; }
.front-page-buttons .box .body p { font-size: 1.6em; line-height: 1.5em; }
@media print { .front-page-buttons .box .body { position: relative; display: block; } }
.front-page-buttons .box .is-external span { display: none; }

#home .box h2.head { margin: 0; background-color: #dfe6e1; }

#home h3.head { margin-bottom: 0; }
#home h3.head a { color: #000; font-size: 1em; font-family: Arial, Verdana, sans-serif; text-decoration: none; }

.front-page-videos h2 { position: absolute; left: -9999px; }

/* Front page 'current' block */
.block-current { border: 1px solid #becdc3; margin-bottom: 2em; }
.block-current.mod { padding: 5px; }
.block-current ul { margin-bottom: 0; }
.block-current .view-content { overflow: auto; height: 128.5px; }

/* Front page 'direct to' block */
.block-directly-to.mod, .mod.block-spotlight { padding: 5px 0px; }
#home .block-directly-to.box h2, #home .box.mod.block-spotlight h2, #home .block-directly-to.box ul, #home .box.mod.block-spotlight ul { padding: 0; margin-bottom: 5px; }

/* Front page 'spotlight' block */
.mod.block-spotlight p { padding: 0; }
.mod.block-spotlight .image { margin-bottom: 5px; }
.mod.block-spotlight.box h2 { padding: 0 0 5px; }

ol.list { list-style: none; padding-left: 0; }

.menu li.first { padding-left: 11px; }

.extralinks { border: 1px solid #dfe6e1; padding: 5px; margin-right: 20px; }
.extralinks .label-inline { color: #767676; margin-top: 1px; margin-right: 5px; }
.extralinks > div { float: left; }
.extralinks .sl-wrapper { float: right; }
.extralinks .sl-wrapper > div { float: left; margin-right: 5px; }
.extralinks a { margin-right: 5px; }
.extralinks .imgreplacement { vertical-align: bottom; margin-right: 5px; }
.extralinks .print-link a { margin-left: 5px; }
.extralinks .print-link a .imgreplacement { background-position: 0 -104px; height: 16px; width: 16px; }
.extralinks .service-links-twitter .imgreplacement { background-position: 0 0; height: 16px; width: 16px; }
.extralinks .service-links--nl-hyves .imgreplacement { background-position: 0 -26px; height: 16px; width: 16px; }
.extralinks .service-links-facebook .imgreplacement { background-position: 0 -78px; height: 16px; width: 16px; }
.extralinks .service-links-linkedin .imgreplacement { background-position: 0 -52px; height: 16px; width: 16px; }

a.elf-icon.elf-external { padding-left: 11px; background-position: 0 -192px; background-position: 0 -187px; }
a.elf-icon.elf-mailto { padding-left: 13px; background-position: 0 -130px; background-position: 0 -127px; }

div.workbench-info-block { margin-right: 20px; margin-bottom: 20px; }

.list-faq { margin-bottom: 20px; margin-right: 20px; border: 1px solid #BECDC3; background-color: #DFE6E1; }
.list-faq ul { margin: 0; padding: .6em; }
.list-faq ul a { color: #000; }
.list-faq h2 { margin: 0; padding: .3em 9px; background-color: #BECDC3; font-weight: bold; font-family: Arial, Verdana, sans-serif; }

.toggle-wrapper ul { margin: 0; padding: 0; list-style: none; margin-bottom: 20px; }
.toggle-wrapper .toggle-main { margin: 0; }
.toggle-wrapper .extras { border-bottom: 1px solid #d9d9d9; font-size: 100%; display: block; }
.toggle-wrapper .extras ul { border-bottom: 0; }
.toggle-wrapper .extras li { background-image: none; padding: 0; margin: 0; border: 1px solid #d9d9d9; border-bottom: 0; }
.toggle-wrapper .extras li .toggle-content { border: 0; margin-bottom: 0; }
.toggle-wrapper .extras li .toggle-content a, .toggle-wrapper .extras li .toggle-content a:hover { font-weight: normal; padding: 2px 9px 3px 9px; color: #000; }
.toggle-wrapper .extras li .toggle-content a { background-color: #fff; }
.toggle-wrapper .extras li .toggle-content a:hover { background-color: #DFE6E1; }
.toggle-wrapper .extras li .toggle-content a.elf-icon.elf-external { padding-left: 20px; background-position: 10px -187px; }
.toggle-wrapper .extras li .toggle-content a.elf-icon.elf-mailto { padding-left: 22px; background-position: 10px -127px; }
.toggle-wrapper .extras li h2, .toggle-wrapper .extras li h3 { margin: 0; padding: 5px 10px; }
.toggle-wrapper .extras li a { display: block; position: relative; padding: .2em 20px .3em 10px; font-weight: normal; text-decoration: none; background-color: whiteSmoke; }
.toggle-wrapper .extras li img { margin-bottom: -4px; }
.toggle-wrapper .extras li li { border: 0; }
.toggle-wrapper .extras .meta { display: block; color: #535353; }
.toggle-wrapper .extras .toggle-content p { padding: 5px 10px; margin: 0; }
.js .toggle-wrapper .facet-button { display: block; width: 11px; height: 11px; position: absolute; right: 6px; top: 6px; z-index: 20; background-position: 0 -150px; }
.js .toggle-wrapper .open .facet-button { background-position: 0 -171px; }
.js .toggle-wrapper .toggle .toggle-content { display: none; }
.js .toggle-wrapper .toggle.open .toggle-content { display: block; }
.js .toggle-wrapper .extras li h2, .js .toggle-wrapper .extras li h3 { margin: 0; padding: 0; color: #000; font: normal 100%/1.64 verdana, helvetica, arial, sans-serif; }
.js .toggle-wrapper .extras li h2 a, .js .toggle-wrapper .extras li h2 a:hover, .js .toggle-wrapper .extras li h3 a, .js .toggle-wrapper .extras li h3 a:hover { color: #000; }

/* Small screens up to 768px width */
@media only screen and (max-width: 768px) { .container { min-width: 320px; }
  .content { padding-bottom: 0; }
  .content_main, .content_add, .content_supp { float: none; clear: left; }
  #content .content_main, #content .content_sub, #content .content_add, #content .nav_sub { position: relative; width: 100%; left: 0; }
  #content .content_main { margin-bottom: 20px; }
  #content .content_main p > img { width: 100% !important; height: auto !important; }
  .nav_sub { padding-top: 0; }
  .nav_sub .block { margin-right: 20px; }
  .nav_sub li a { width: auto; }
  .extralinks { display: block; margin-right: 20px; }
  .header .branding, .footer .ref { overflow: hidden; position: relative; }
  .header .branding img, .footer .ref img { position: absolute; left: -10px; }
  .footer .ref { height: 25px; margin-left: 10px; }
  .footer .ref img { left: 10%; }
  .breadcrumb { width: 100%; margin: 10px 0 -50px; }
  .tong { margin-top: 0; padding: 10px; }
  .tong .region-front-supp-tong { height: auto; }
  .content_add, .content_supp { padding-top: 0; }
  .content_main, .content_supp { width: 100%; }
  .front-page-buttons .box { clear: left; float: none; }
  .front-page-buttons .box .body { position: relative; top: 0; height: 125px; }
  .front-page-buttons .views-row-odd { clear: left; }
  .block-directly-to.mod, .mod.block-spotlight { padding: 0; }
  .front .block-spotlight { clear: both; }
  .front .block-spotlight .image { width: 30%; height: 60px; float: left; overflow: hidden; margin-right: 10px; }
  .front .block-spotlight .image img { height: 100%; width: auto; margin-left: -85px; }
  .block-current .view-content { height: auto; }
  .rijksvideo { margin-right: 20px; }
  .rijksvideo > div, .rijksvideo .extras { max-width: 100% !important; } }
/* Small screens only */
@media only screen and (max-width: 480px) { .unit { float: none; clear: left; }
  .size12 { width: 100%; }
  .header .branding img { left: -204px; }
  .footer .ref img { left: -10%; }
  .search { position: relative; padding: 0 24px 10px; right: 0; width: auto; top: 0; }
  .search form input.text { width: 79.5%; padding-left: 0; padding-right: 0; }
  .search form input.submit { width: 20%; padding: 0; }
  .search .links .first, .search .links .last { float: none !important; display: inline; }
  .search .links .last { padding-left: 0.5em; }
  .content_add .block-ds-extras > img, .content_add .block-ds-extras .video, .content_add .block-ds-extras .block-spotlight { display: none; }
  .func_links a { padding-left: .5em; padding-right: .5em; }
  .nav_main li { margin-bottom: 10px; }
  .nav_main a { padding: 3px 6px; }
  .front-page-buttons .box .image { float: left; width: 75px; height: 75px; overflow: hidden; margin: 15px 10px; }
  .front-page-buttons .box .image img { height: 75px; width: auto; }
  .front-page-buttons .box .image:after { clear: left; }
  .front-page-buttons .box .body { height: auto; min-height: 100px; background: transparent; }
  .front-page-buttons .box .body p { font-size: 1.43em; }
  .front-page-videos .rijksvideo-preview > span { background-position: 50% 50%; }
  .front-page-videos .rijksvideo-preview img { width: 100%; height: auto; } }
/* iPad portrait */
@media only screen and (min-width: 481px) and (max-width: 768px) { .search { top: 16px; right: 24px; width: auto; }
  .header .branding img, .footer .ref img { left: 0; position: relative; }
  .nav_bar { padding: 1.5em 0 1.5em; }
  .nav_bar .nav_main { max-width: 50%; }
  .nav_bar .nav_main li { margin-bottom: 10px; }
  .tong { padding: 20px; }
  .front-page-buttons .box .image img { width: 100%; height: auto; }
  .front-page-videos { margin-right: 20px; }
  .front-page-videos .mod { float: left; width: 48%; overflow: hidden; margin: 0; }
  .front-page-videos .mod.views-row-first { margin-right: 3%; }
  .front-page-videos .mod img { width: 100%; height: auto; }
  .content_supp .region-front-supp .block { float: left; margin-right: 3%; width: 47%; }
  .content_supp .region-front-supp .block-current { width: 44.5%; padding: 1%; }
  .block-spotlight.mod { padding-top: 20px; }
  .content_add .block-ds-extras > img { display: none; }
  .content_add .block-ds-extras .video { float: left; width: 47%; margin-right: 3%; }
  .content_add .block-ds-extras .video img { width: 100%; height: auto; }
  .content_add .block-ds-extras .block-spotlight { float: left; width: 50%; padding-top: 12px; margin-right: 0; }
  .content_add .block-ds-extras h2 { clear: left; } }
@media only screen and (min-width: 600px) and (max-width: 768px) { .nav_bar .nav_main { max-width: 60%; }
  .front-page-buttons .box .image { height: 125px; overflow: hidden; }
  .front-page-buttons .box .image img { margin-top: -15px; }
  .front-page-buttons .box .body { height: 100px; } }
@media only screen and (min-width: 768px) and (max-width: 956px) { .container { min-width: 768px; }
  .front .content_main { width: 66%; }
  .front .content_supp { width: 33%; }
  .front .content_add { width: 100%; padding-top: 0; }
  .front .content_add .region > .block { float: left; }
  .front .content_add .front-page-videos { width: 66%; }
  .front .content_add .front-page-videos .box { width: 46%; float: left; }
  .front .content_add .front-page-videos .box .image { overflow: hidden; height: 134px; }
  .front .content_add .front-page-videos .box img { width: 100% !important; height: auto !important; }
  .front .content_add .front-page-videos .views-row-first { margin-right: 4%; }
  .front .content_add .block-spotlight { width: 33%; margin-right: 0; }
  .front-page-buttons .box .image { overflow: hidden; height: 134px; }
  .front-page-buttons .box img { width: 100%; height: auto; }
  .content_main p > img, .content_add img { width: 100% !important; height: auto !important; }
  .content_add .mod { margin-right: 0; } }
/* Title bar */
.title_bar { font-family: "RO-Sans-Heading", Arial, Sans-Serif; font-weight: normal; font-size: 2.2em; }

/* Search block */
.search .submit { text-transform: lowercase; }
.search .links .first { float: left; }
.search .links .last { float: right; }

.search-summary { background-color: #dfe6e1; padding: 2px 5px; margin-right: 20px; }

/* Menu block */
.nav_sub h2 { display: block; background-color: #dfe6e1; padding: 0.4em 1em 0.3em 2.5em; font-size: 1.2em; font-weight: bold; margin: 0; }
.nav_sub li a { width: auto; }

/* Node metadata */
.content_main .type { border-right: 1px solid #535353; color: #535353; padding-right: 5px; margin-right: 5px; }

.content_main .date-display-single, .content_main .date { color: #535353; }

/* Rijksvideo */
.rijksvideo-preview { display: block; position: relative; }
.rijksvideo-preview > span { background: url("../images/play.png") 50% 40% no-repeat; position: absolute; width: 100%; height: 100%; }
.rijksvideo-preview img { margin-bottom: 0; }
.rijksvideo-preview + h3 { margin-top: 0; }

/* Table in content */
.content_main table { width: 436px; }

/* Cookie compliance notice bar */
#sliding-popup { background: none repeat scroll 0 0 #666; }
#sliding-popup .popup-content { width: 960px; }
#sliding-popup .popup-content #popup-text { width: 560px; margin-left: 40px; }
